In [35]:
import pandas as pd

In [37]:
wego = pd.read_csv("C:\\DA12\\Projects\\Python\\Projects\\wego-python-da12-pumpkin-py-latte\\data\\Headway Data, 8-1-2023 to 9-30-2023.csv")

wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [38]:
wego.columns

Index(['CALENDAR_ID', 'SERVICE_ABBR', 'ADHERENCE_ID', 'DATE', 'ROUTE_ABBR',
       'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'OVERLOAD_ID',
       'ROUTE_DIRECTION_NAME', 'TIME_POINT_ABBR', 'ROUTE_STOP_SEQUENCE',
       'TRIP_EDGE', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'STOP_CANCELLED',
       'PREV_SCHED_STOP_CANCELLED', 'IS_RELIEF', 'DWELL_IN_MINS',
       'SCHEDULED_LAYOVER_MINUTES'],
      dtype='object')

In [39]:
wego['ROUTE_ABBR'].value_counts().sort_index()

ROUTE_ABBR
3     47162
7     18026
22    25959
23    42108
50    43291
52    51819
55    61944
56    60020
Name: count, dtype: int64

In [40]:
### Route Abbreviations Key ###
3: West End
7: Hillsboro
22: Bordeaux
23: Dickerson Pike
50: Charlotte Pike
52: Nolensville Pike
55: Murfreesboro Pike
56: Gallatin Pike
### ###

SyntaxError: illegal target for annotation (2676150292.py, line 2)

In [177]:
Table = wego[['DATE', 'TRIP_ID', 'ROUTE_DIRECTION_NAME', 'ROUTE_ABBR', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME', 'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME','ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'DWELL_IN_MINS', 'SCHEDULED_LAYOVER_MINUTES']].loc[:]
print(Table)

              DATE  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_ABBR   LATITUDE  \
0       2023-08-01   345104          TO DOWNTOWN          22  36.181248
1       2023-08-01   345104          TO DOWNTOWN          22  36.193454
2       2023-08-01   345104          TO DOWNTOWN          22  36.182177
3       2023-08-01   345104          TO DOWNTOWN          22  36.167091
4       2023-08-01   345105        FROM DOWNTOWN          22  36.167091
...            ...      ...                  ...         ...        ...
350324  2023-09-30   353448          TO DOWNTOWN           7  36.138372
350325  2023-09-30   353448          TO DOWNTOWN           7  36.167091
350326  2023-09-30   353449        FROM DOWNTOWN           7  36.167091
350327  2023-09-30   353449        FROM DOWNTOWN           7  36.138881
350328  2023-09-30   353449        FROM DOWNTOWN           7  36.107575

        LONGITUDE       SCHEDULED_TIME  ACTUAL_ARRIVAL_TIME  \
0      -86.847705  2023-08-01 04:42:00  2023-08-01 04:37:38
1      -86.839981  2023-08-01 04:46:00  2023-08-01 04:48:27
2      -86.814445  2023-08-01 04:54:00  2023-08-01 04:54:56
3      -86.781923  2023-08-01 05:10:00  2023-08-01 05:03:43
4      -86.781923  2023-08-01 05:15:00  2023-08-01 05:03:43
...           ...                  ...                  ...
350324 -86.800622  2023-09-30 22:23:00  2023-09-30 22:31:26
350325 -86.781923  2023-09-30 22:38:00  2023-09-30 22:49:18
350326 -86.781923  2023-09-30 22:45:00  2023-09-30 22:49:19
350327 -86.800622  2023-09-30 22:59:00  2023-09-30 23:21:05
350328 -86.812719  2023-09-30 23:11:00  2023-09-30 23:31:27

       ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  \
0        2023-08-01 04:44:08  -2.133333             NaN          NaN
1        2023-08-01 04:48:27  -2.450000             NaN          NaN
2        2023-08-01 04:54:56  -0.933333             NaN          NaN
3        2023-08-01 05:03:43   6.283333             NaN          NaN
4        2023-08-01 05:16:35  -1.583333             NaN          NaN
...                      ...        ...             ...          ...
350324   2023-09-30 22:31:26  -8.433333            30.0    35.266666
350325   2023-09-30 22:49:18 -11.300000             NaN          NaN
350326   2023-09-30 22:49:19  -4.316666            30.0    31.866666
350327   2023-09-30 23:21:05 -22.083333            30.0    47.500000
350328   2023-09-30 23:34:40 -23.666666             NaN          NaN

         HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  \
0             NaN                     0                    0
1             NaN                     0                    0
2             NaN                     0                    0
3             NaN                     0                    0
4             NaN                     0                    0
...           ...                   ...                  ...
350324   5.266666                     0                    1
350325        NaN                     0                    1
350326   1.866666                     0                    0
350327  17.500000                     0                    1
350328        NaN                     0                    1

        ADJUSTED_ONTIME_COUNT  DWELL_IN_MINS  SCHEDULED_LAYOVER_MINUTES
0                           1       6.500000                        NaN
1                           1       0.000000                        NaN
2                           1       0.000000                        NaN
3                           1       0.000000                        NaN
4                           1      12.866666                        5.0
...                       ...            ...                        ...
350324                      0       0.000000                        NaN
350325                      0       0.000000                        NaN
350326                      1       0.000000                        NaN
350327                      0       0.000000                        NaN
350328                      0       3.216666                        NaN

[350329 rows x 18 columns]

In [65]:
wego['ADJUSTED_LATE_COUNT'].value_counts().sort_index()

ADJUSTED_LATE_COUNT
0    291291
1     59038
Name: count, dtype: int64

In [59]:
wego['ADJUSTED_EARLY_COUNT'].value_counts().sort_index()

ADJUSTED_EARLY_COUNT
0    340554
1      9775
Name: count, dtype: int64

In [173]:
ONTIME_COUNT = len(wego[wego['ADJUSTED_ONTIME_COUNT']==1])
print(ONTIME_COUNT)

270048

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''