In [105]:
import pandas as pd

In [107]:
wego = pd.read_csv("C:\\DA12\\Projects\\Python\\Projects\\wego-python-da12-pumpkin-py-latte\\data\\Headway Data, 8-1-2023 to 9-30-2023.csv")

wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [108]:
wego.columns

Index(['CALENDAR_ID', 'SERVICE_ABBR', 'ADHERENCE_ID', 'DATE', 'ROUTE_ABBR',
       'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'OVERLOAD_ID',
       'ROUTE_DIRECTION_NAME', 'TIME_POINT_ABBR', 'ROUTE_STOP_SEQUENCE',
       'TRIP_EDGE', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'STOP_CANCELLED',
       'PREV_SCHED_STOP_CANCELLED', 'IS_RELIEF', 'DWELL_IN_MINS',
       'SCHEDULED_LAYOVER_MINUTES'],
      dtype='object')

In [109]:
wego['ROUTE_ABBR'].value_counts().sort_index()

ROUTE_ABBR
3     47162
7     18026
22    25959
23    42108
50    43291
52    51819
55    61944
56    60020
Name: count, dtype: int64

In [113]:
### Route Abbreviations Key ###
3: West End
7: Hillsboro
22: Bordeaux
23: Dickerson Pike
50: Charlotte Pike
52: Nolensville Pike
55: Murfreesboro Pike
56: Gallatin Pike
### ###

SyntaxError: illegal target for annotation (2676150292.py, line 2)

In [115]:
wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [117]:
wego['Percentage_Headway'] = wego['SCHEDULED_HDWY'] / wego['HDWY_DEV'].reset_index(drop=True)
print(wego)

        CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID        DATE  ROUTE_ABBR  \
0         120230801             1      99457890  2023-08-01          22
1         120230801             1      99457891  2023-08-01          22
2         120230801             1      99457892  2023-08-01          22
3         120230801             1      99457893  2023-08-01          22
4         120230801             1      99457894  2023-08-01          22
...             ...           ...           ...         ...         ...
350324    120230930             2     100406610  2023-09-30           7
350325    120230930             2     100406611  2023-09-30           7
350326    120230930             2     100406612  2023-09-30           7
350327    120230930             2     100406613  2023-09-30           7
350328    120230930             2     100406614  2023-09-30           7

        BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID ROUTE_DIRECTION_NAME  ...  \
0             2200      1040   345104            0          TO DOWNTOWN  ...
1             2200      1040   345104            0          TO DOWNTOWN  ...
2             2200      1040   345104            0          TO DOWNTOWN  ...
3             2200      1040   345104            0          TO DOWNTOWN  ...
4             2200      1040   345105            0        FROM DOWNTOWN  ...
...            ...       ...      ...          ...                  ...  ...
350324         702      2312   353448            0          TO DOWNTOWN  ...
350325         702      2312   353448            0          TO DOWNTOWN  ...
350326         702      2312   353449            0        FROM DOWNTOWN  ...
350327         702      2312   353449            0        FROM DOWNTOWN  ...
350328         702      2312   353449            0        FROM DOWNTOWN  ...

         HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  \
0             NaN                     0                    0
1             NaN                     0                    0
2             NaN                     0                    0
3             NaN                     0                    0
4             NaN                     0                    0
...           ...                   ...                  ...
350324   5.266666                     0                    1
350325        NaN                     0                    1
350326   1.866666                     0                    0
350327  17.500000                     0                    1
350328        NaN                     0                    1

        ADJUSTED_ONTIME_COUNT  STOP_CANCELLED PREV_SCHED_STOP_CANCELLED  \
0                           1               0                       0.0
1                           1               0                       0.0
2                           1               0                       0.0
3                           1               0                       NaN
4                           1               0                       0.0
...                       ...             ...                       ...
350324                      0               0                       0.0
350325                      0               0                       NaN
350326                      1               0                       0.0
350327                      0               0                       0.0
350328                      0               0                       NaN

       IS_RELIEF DWELL_IN_MINS  SCHEDULED_LAYOVER_MINUTES  Percentage_Headway
0              0      6.500000                        NaN                 NaN
1              0      0.000000                        NaN                 NaN
2              0      0.000000                        NaN                 NaN
3              0      0.000000                        NaN                 NaN
4              0     12.866666                        5.0                 NaN
...          ...           ...                        ...                 ...
350324         0      0.000000                        NaN            5.696203
350325         0      0.000000                        NaN                 NaN
350326         0      0.000000                        NaN           16.071434
350327         0      0.000000                        NaN            1.714286
350328         0      3.216666                        NaN                 NaN

[350329 rows x 31 columns]

In [136]:
wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES,Percentage_Headway
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,6.500000,NaN,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,0.000000,NaN,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,0.000000,NaN,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,0.000000,NaN,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,0,0,1,0,0.0,0,12.866666,5.0,NaN

In [168]:
grouped = wego.groupby('TRIP_ID')
grouped.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES,Percentage_Headway
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,6.500000,NaN,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,0.000000,NaN,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,0.000000,NaN,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,0.000000,NaN,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,0,0,1,0,0.0,0,12.866666,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74009,120230813,3,99803991,2023-08-13,7,702,2312,353469,0,FROM DOWNTOWN,...,8.833333,0,1,0,0,0.0,0,0.000000,NaN,3.169811
74011,120230813,3,99803993,2023-08-13,7,702,2312,353470,0,TO DOWNTOWN,...,10.100000,0,0,1,0,0.0,0,0.000000,5.0,2.772277
74012,120230813,3,99803994,2023-08-13,7,702,2312,353470,0,TO DOWNTOWN,...,-2.333334,0,0,1,0,0.0,0,0.000000,NaN,-11.999997
74014,120230813,3,99803996,2023-08-13,7,702,2312,353471,0,FROM DOWNTOWN,...,2.883333,0,0,1,0,0.0,0,6.116666,NaN,10.404625
74015,120230813,3,99803997,2023-08-13,7,702,2312,353471,0,FROM DOWNTOWN,...,-0.233334,0,0,1,0,0.0,0,0.000000,NaN,-128.571061

In [170]:
df1 = grouped[['ROUTE_ABBR', 'ROUTE_DIRECTION_NAME', 'ADHERENCE', 'Percentage_Headway']]
df1.head()

       ROUTE_ABBR ROUTE_DIRECTION_NAME  ADHERENCE  Percentage_Headway
0              22          TO DOWNTOWN  -2.133333                 NaN
1              22          TO DOWNTOWN  -2.450000                 NaN
2              22          TO DOWNTOWN  -0.933333                 NaN
3              22          TO DOWNTOWN   6.283333                 NaN
4              22        FROM DOWNTOWN  -1.583333                 NaN
...           ...                  ...        ...                 ...
74009           7        FROM DOWNTOWN -11.433333            3.169811
74011           7          TO DOWNTOWN  -4.366666            2.772277
74012           7          TO DOWNTOWN  -3.833333          -11.999997
74014           7        FROM DOWNTOWN  -2.483333           10.404625
74015           7        FROM DOWNTOWN  -1.050000         -128.571061

[19935 rows x 4 columns]

TypeError: 'bool' object is not callable